@model ViewModel

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Valen Dev</title>
    <meta content="" name="description">
    <meta content="" name="keywords">


    <link href="~/img/code_icon.png" rel="icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="~/vendor/aos/aos.css" rel="stylesheet">
    
    <!-- Template Main CSS File -->
    <link rel="stylesheet" href="~/css/style.css"> 
   
</head>

<body>

    <!-- ======= Mobile nav toggle button ======= -->
    <!-- <button type="button" class="mobile-nav-toggle d-xl-none"><i class="bi bi-list mobile-nav-toggle"></i></button> -->
    <i class="bi bi-list mobile-nav-toggle d-lg-none"></i>
    <!-- ======= Header ======= -->
    <header id="header" class="d-flex flex-column justify-content-center">

        <nav id="navbar" class="navbar nav-menu">
            <ul>
                <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
                <li><a href="#skills" class="nav-link scrollto"><i class="bx bx-code-alt"></i> <span>Skills</span></a></li>
                <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>Sobre mi</span></a></li>
                <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-book"></i> <span>Educacion</span></a></li>
                <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-briefcase"></i> <span>Portafolio</span></a></li>
                <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contáctame</span></a></li>
            </ul>
        </nav><!-- .nav-menu -->

    </header><!-- End Header -->
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex flex-column justify-content-center">
        <div class="container" data-aos="zoom-in" data-aos-delay="100">
            <h1>Valentín Torassa</h1>
            <p><span class="typed" data-typed-items="Desarrollador .NET,Desarrollador Back-End,Desarrollador ASP.NET Entity Framework"></span></p>
            <div class="social-links">
                <a href="https://github.com/ValeTorassa?tab=repositories" target="_blank" class="github"><i class="bx bxl-github"></i></a>
                <a href="https://www.linkedin.com/in/valentín-torassa-colombero-886a9525a/" target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                <a href="https://www.youtube.com/channel/UC033a4ngS1wFOrV5sPktD3w" target="_blank" class="youtube"><i class="bx bxl-youtube"></i></a>
            </div>
        </div>
    </section><!-- End Hero -->

    <main id="main">


        <!-- ======= Skills Section ======= -->
        <section id="skills" class="skills section-bg">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Skills</h2>
                    <p>Desarrollador versátil con sólidos conocimientos en C#, ASP.NET Core (Web API, MVC y Razor Pages) y Entity Framework Code First. Mi enfoque se centra en la creación de aplicaciones web eficientes y mantiendo una solida arquitectura.</p>

                    <p>Se operar SQL Server y bases de datos relacionales, priorizando la eficiencia y seguridad en la gestión de datos. Mi experiencia se complementa con habilidades en Node.js y JavaScript, asi como EJS para interfaces dinámicas.</p>

                    <p>Actualmente, estoy ampliando mis habilidades en el desarrollo de aplicaciones móviles mediante el aprendizaje de .NET MAUI.</p>

                    <p>Doy especial relevancia a la aplicación de buenas prácticas de programación y adhiero a la utilizacion de principios como los SOLID. mientras me enfoco en aplicar arquitecturas modernas como MVC, microservicios y modelos cliente-servidor</p>
                        
                    <p>Mi capacidad para comprender documentación técnica en inglés facilita la incorporación de nuevas tecnologías en mis proyectos.</p>

                </div>

                <div class="row skills-content">

                    <div class="col-lg-6">

                        <div class="progress">
                            <span class="skill">C# <i class="val">95%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill">Entity Framework <i class="val">95%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill">.NET MAUI <i class="val">75%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill">HTML/CSS <i class="val">90%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-6">

                        <div class="progress">
                            <span class="skill">ASP .NET Core<i class="val">85%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill">JavaScript y Node.JS <i class="val">80%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill">SQL <i class="val">90%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Skills Section -->
        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Sobre mi</h2>
                    <p>Soy una persona proactiva con una gran pasión por la programación y la creación de sistemas.</p>
                    <p>Siempre estoy buscando aprender y avanzar en mi carrera, ya que considero que el conocimiento continuo es la clave para desarrollarme tanto a nivel profesional como personal.</p>
                    <p>La búsqueda constante de conocimiento es lo que impulsa mi vida.</p>
                </div>

                <div class="row">
                    <div class="col-lg-12 pt-4 pt-lg-0 content">
                        <div class="row">
                            <div class="col-lg-6">
                                <ul>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Nombre Completo:</strong> <span>Valentín Torassa Colombero</span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Edad:</strong> <span>21 años</span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Correo Electrónico:</strong> <span>valentintorassa@hotmail.com</span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Teléfono:</strong> <span>3492 67-4205</span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Ciudad:</strong> <span>Rosario, Argentina</span></li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Universidad:</strong> <span>UAI</span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Carrera:</strong> <span>Ingeniería en Sistemas Informáticos</span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Materias Aprobadas:</strong> <span>22</span></li>
                                </ul>
                            </div>
                            <a href="https://drive.google.com/file/d/1ulq3AnyLJJgJFWJIdVY12INk6tvTVvNG/view?usp=sharing" target="_blank" class="curriculum">Mi Curriculum Vitae</a>
                        </div>
                    </div>
                </div>

            </div>
        </section><!-- End About Section -->
        <!-- ======= Resume Section ======= -->
        <section id="resume" class="resume">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Formación Académica y Capacitaciones</h2>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <h3 class="resume-title">Educación</h3>
                        <div class="resume-item">
                            <h4>Ingeniería en Sistemas Informáticos</h4>
                            <h5>2022 - Actualidad</h5>
                            <p><em>Universidad abierta interamericana (UAI), Rosario - Santa Fe</em></p>
                            <p>Materias aprobadas: 22 / Promedio: 9.31</p>
                        </div>
                        <div class="resume-item">
                            <h4>Técnico en equipos e instalaciones electromecánicas</h4>
                            <h5>2016 - 2021</h5>
                            <p><em>Escuela de Educación Técnico Profesional “Santiago Baratero” N° 292, San Vicente - Santa Fe</em></p>
                        </div>
                        <div class="resume-item">
                            <h4>Educación Primaria Completa</h4>
                            <h5>2009 - 2015</h5>
                            <p><em>Escuela de Educación Primaria Juan Bautista Alberdi N°401, San Vicente - Santa Fe</em></p>
                        </div>
                    </div>


                    <div class="col-lg-6">
                        <h3 class="resume-title">Capacitaciones</h3>
                        <div class="resume-item">
                            <h4>.NET Core Microservices - The Complete Guide (.NET 8)</h4>
                            <h5>Actualidad</h5>
                            <p><em>Curso Web: DotNet Mastery</em></p>
                        </div>
                        <div class="resume-item">
                            <h4>Desarrollo Full Stack en Node JS</h4>
                            <h5>2023</h5>
                            <p><em>Codo a Codo: Impartido por la ciudad de Buenos Aires</em></p>
                        </div>
                        <div class="resume-item">
                            <h4>Programación en JavaScript</h4>
                            <h5>2021</h5>
                            <p><em>Curso Web: Carlos Arturo Esparza</em></p>
                        </div>
                        <div class="resume-item">
                            <h4>PHP 8 y MYSQL Desde Cero</h4>
                            <h5>2020</h5>
                            <p><em>Curso Web: Carlos Arturo Esparza</em></p>
                        </div>
                        <div class="resume-item">
                            <h4>Introducción al desarrollo web HTML + CSS</h4>
                            <h5>2020</h5>
                            <p><em>Curso Web: Google Activate</em></p>
                        </div>
                        <div class="resume-item">
                            <h4>Capacitación superior en idioma inglés</h4>
                            <h5>2008 - 2018</h5>
                            <p><em>Asociación de Cultura Inglesa de San Vicente</em></p>
                        </div>
                    </div>


                </div>


                <div class="row">
                    <div class="col-lg-6">
                        <h3 class="resume-title">Investigaciones</h3>
                        <div class="resume-item">
                            <h4>Ciberseguridad: Conceptos y Aplicaciones</h4>
                            <h5>Actualidad</h5>
                            <p>
                                <em>Universidad abierta interamericana (UAI), Rosario - Santa Fe</em><br>
                                <em>Profesores: Santiago Roatta y Maria Eugenia Casco</em>
                            </p>
                        </div>
                        <div class="resume-item">
                            <h4>Microservicios vs. Monolitos: Un Enfoque Profundo en la Arquitectura de Aplicaciones</h4>
                            <h5>Actualidad</h5>
                            <p>
                                <em>Universidad abierta interamericana (UAI), Rosario - Santa Fe</em><br>
                                <em>Profesores: Laureano Gallegos</em>
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <h3 class="resume-title">Otras Capacitaciones</h3>
                        <div class="resume-item">
                            <h4>Experto en Modelado 3D en Blender</h4>
                            <h5>2021</h5>
                            <p><em>Curso Web: Mariano Rivas</em></p>
                        </div>
                        <div class="resume-item">
                            <h4>Impresión 3D desde cero</h4>
                            <h5>2021</h5>
                            <p><em>Curso Web: Academia de ingeniería industrial</em></p>
                        </div>
                    </div>
                </div>

            </div>



            </div>
        </section><!-- End Resume Section -->
        <!-- ======= Portfolio Section ======= -->
        <section id="portfolio" class="portfolio section-bg">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Portafolio</h2>
                </div>


                <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

                    @foreach (var project in Model.Projects)
                    {
                    <div class="col-lg-6 col-md-6 portfolio-item">
                        <div class="portfolio-wrap">
                            <img src="@project.CoverImageUrl" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>
                                    @project.Name
                                </h4>
                                    <p>@string.Join(", ", @project.Technologies);</p>
                                <div class="portfolio-links">
                                        <a asp-action="Project" asp-controller="Proyecto" asp-route-projectId="@project.Id" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                  

            </div>

            </div>
        </section><!-- End Portfolio Section -->
        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Contáctame</h2>
                </div>

                <div class="row mt-1">

                    <div class="col-lg-4">
                        <div class="info">
                            <div class="address">
                                <i class="bi bi-geo-alt"></i>
                                <h4>Locacion:</h4>
                                <p>Rosario</p>
                            </div>

                            <div class="email">
                                <i class="bi bi-envelope"></i>
                                <h4>Email:</h4>
                                <p>valentintorassa@hotmail.com</p>
                            </div>

                            <div class="phone">
                                <i class="bi bi-phone"></i>
                                <h4>Telefono:</h4>
                                <p>3492 67-4205</p>
                            </div>

                        </div>

                    </div>
                    

                    <div class="col-lg-8 mt-5 mt-lg-0">
                        @using (Html.BeginForm("EnviarMail", "Email", FormMethod.Post))
                        {
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <input asp-for="Email.Name" class="form-control" id="name" placeholder="Tu nombre" required>
                                </div>
                                <div class="col-md-6 form-group mt-3 mt-md-0">
                                    <input asp-for="Email.Adress" class="form-control" id="email" placeholder="Tu Email" required>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <input asp-for="Email.Subject" class="form-control" id="subject" placeholder="Asunto" required>
                            </div>
                            <div class="form-group mt-3">
                                <textarea asp-for="Email.Body" class="form-control" rows="5" placeholder="Mensaje" required></textarea>
                            </div>
                            <div class="my-3">
                                @if (TempData["SuccessMessage"] != null)
                                {
                                    <div class="alert alert-success" role="alert">
                                        @TempData["SuccessMessage"]
                                    </div>
                                }
                            </div>
                            <div class="text-center"><button type="submit">Enviar Mensaje</button></div>
                        }


                    </div>

                </div>

            </div>
        </section><!-- End Contact Section -->

    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="container">
            <h3>Valen Torassa</h3>
            <div class="social-links">
                <a href="https://github.com/ValeTorassa?tab=repositories" target="_blank" class="github"><i class="bx bxl-github"></i></a>
                <a href="https://www.linkedin.com/in/valentín-torassa-colombero-886a9525a/" target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                <a href="https://www.youtube.com/channel/UC033a4ngS1wFOrV5sPktD3w" target="_blank" class="youtube"><i class="bx bxl-youtube"></i></a>
            </div>
            <a href="https://drive.google.com/file/d/1ulq3AnyLJJgJFWJIdVY12INk6tvTVvNG/view?usp=sharing" target="_blank" class="curriculum">Mi Curriculum Vitae</a>
        </div>
    </footer><!-- End Footer -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/vendor/aos/aos.js"></script>
    <script src="~/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/vendor/typed.js/typed.umd.js"></script>
    <script src="~/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


    <!-- Template Main JS File -->
    <script src="~/js/site.js"></script>

</body>

</html>